.searched-container {
  background-color: #3478f6;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.search-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-size: 1.1rem;
}

.flight-card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.flight-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 1rem;
}

.flight-info {
  flex: 1;
  min-width: 180px;
}
.flight-titles{
    color: rgb(80, 82, 82);
    font-weight: 100;
}
.price {
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .d-flex {
    flex-direction: column !important;
    text-align: center;
  }

  .text-end {
    text-align: center !important;
    margin-top: 1rem;
  }
}
