.flight-card {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.flight-card:hover {
  transform: scale(1.02);
}

.flight-card img {
  max-height: 180px;
  object-fit: cover;
}
