.trip-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 160px;
  overflow: hidden;
}

.trip-info {
  flex: 1;
}

.trip-img {
  flex-shrink: 0;
  height: 100%;
}

.trip-image {
  width: 160px;
  height: 100%;
  object-fit: cover;
  border-left: 1px solid #ddd;
}
